.share {
    margin-top: 15px;
    width: 100%;
    
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(172, 158, 158, 0.88);
    box-shadow: 0px 0px 16px -8px rgba(226, 221, 221, 0.88);
  }
  
  .shareWrapper {
    padding: 10px;
  }
  
  .shareTop {
    display: flex;
    align-items: center;
    margin-bottom: 20px
  }
  
  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid gray;
  }
  
  .shareInput {
    border: none;
    width: 80%;
    background: var(--color-bg);
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    color: white;
    margin-left: 12px;

  }
  .shareInput:hover{
    transform: scale(1.01);
  }
  
  .shareInput:focus {
    outline: none;
  }
  
  .shareHr {
    margin: 20px;
  }
  
  .shareBottom {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .shareOptions{
      display: flex;
      margin-left: 20px;
  }
  
  .shareOption{
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
      flex-direction: row;
  }
  
  .shareIcon{
      font-size: 18px;
      margin-right: 3px;
  }
  
  .shareOptionText{
      font-size: 14px;
      font-weight: 500;
      color: white;
  }
  
  .shareButton{
      border: 1px solid gray;
      padding: 10px;
      border-radius: 5px;
      background-color:transparent;
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;
      color: white;
      width: 100px;
  }
  .shareButton:hover{
    transform: scale(1.01);
  }
  .shareImgContainer{
    padding: 0 20px 10px 20px;
    position: relative;
  }
  
  .shareImg{
    width: 100%;
    object-fit: cover;
  }
  
  .shareCancelImg{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
    opacity: 0.7;
  }
  @media screen and (max-width:479px){
    .shareBottom{
      flex-direction: column;
    }
  }