.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messtop{
    display: flex;
}
.messaimg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    object-fit: cover;
}
.messtext{
    flex: 1;
    margin-left: 20px;
    max-width: 400px;
    background-color: rgb(32, 36, 84);
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 2px gray);

}
.messaghr{
    color: gray;
    margin-top: 5px;
}
.message.own{
   align-items: flex-end;
}
.message.own .messtext{
    background-color: rgb(174, 171, 171);
    color: black;
    filter: drop-shadow(2px 2px 2px rgb(236, 181, 129));
}